<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean name = "elephant" class = "co.pragra.springBasics.SpringSession.game.Elephant"></bean>
    <bean name = "characterRunner" class = "co.pragra.springBasics.SpringSession.game.CharacterRunner">
        <constructor-arg ref = "elephant"></constructor-arg>
    </bean>

</beans>